// @import '../node_modules/bootstrap/scss/bootstrap';
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");

$nw-red: #f72210;

.bg-yellow {
  background-color: #ffe400;
}

.bg-red {
  background-color: $nw-red;
}

.primary-text {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;
}

.secondary-text {
  font-family: Arial, Helvetica, sans-serif;
}

.small-text {
  font-size: 13px;
}

.icon-color {
  color: #fdc8c3;
}

.color-black {
  color: black;
}

.color-white {
  color: white;
}

a {
  text-decoration: none;
  color: inherit;
  display: block;
  width: 100%;
  &:hover {
    color: $nw-red !important;
  }
}

.hover-white:hover {
  color: white !important;
}

.lh-15em {
  line-height: 1.5em;
}

.fs-12rem {
  font-size: 1.2rem;
}

footer {
    ul {
        list-style: none;
        li {
            display: inline;
            border-right: 1px solid rgb(143, 143, 143);
            margin-right: 3px;
            padding-right: 9px;
            a {
                display: inline;
            }
        }
    }
}