@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap");

$nw-red: #f72210;
$nw-yellow: #ffe400;

body {
  color: #333;
}

.primary-text {
  font-family: "Roboto Condensed", sans-serif;
}

.secondary-text {
  font-family: Arial, Helvetica, sans-serif;
}

.bg-red {
  background-color: $nw-red;
}

.bg-yellow {
  background-color: $nw-yellow;
}

.text-red {
  color: $nw-red;
}

.hover-white:hover {
  color: white;
}

a {
  text-decoration: none;
  color: black;
}

.header-icon {
  color: #fdc8c3;
  font-size: 0.9rem;
}

h5 a {
  @extend .primary-text;

  font-size: 1.5rem;
}

.trending {
  li {
    text-transform: uppercase;

    a {
      font-size: 18px;
      color: #807f84;
    }
  }
}

.social-media {
  li {
    a {
      font-size: 26px;

      i {
        color: rgb(95, 95, 95);
        padding: 4px;
      }
    }
  }
}

.footer-links {
  li {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;

    a {
      color: #666;
    }
  }
}

.categories li {
  border-right: 1px solid #d9d9d9;
  border-left: 1px solid #fff;
  padding: 0 1%;

  &:last-child {
    border-right: none;
    color: #757575;
  }

  &:last-child a {
    color: #757575;
  }

  &:nth-last-child(2) {
    border-right: none;
  }
}

.space {
  height: 150vh;
}

.copyright {
  font-size: 12px;
}

.vs-format {
  z-index: 2000;
  border-radius: 50%;
}

.signup-bg {
  background-color: #f4f5f6;
}

h2 {
  @extend .primary-text;

  color: #9a9a9a;
}

h6 {
  @extend .secondary-text;

  color: #9a9a9a;
  font-size: 1rem;
}

.in-the-magazine-img {
  padding-top: 100%;
  background-size: 150%;
  background-position: top;
}

.in-the-magazine-img-2 {
  background-image: url(../assets/in-the-magazine-2.jpg);
}

.in-the-magazine-img-3 {
  background-image: url(../assets/in-the-magazine-3.jpg);
}

.in-the-magazine-img-4 {
  background-image: url(../assets/in-the-magazine-4.jpg);
}

.in-the-magazine-img-5 {
  background-image: url(../assets/in-the-magazine-5.jpg);
}

.in-the-magazine-img-6 {
  background-image: url(../assets/in-the-magazine-6.jpg);
  background-size: 170%;
}

.in-the-magazine-img-7 {
  background-image: url(../assets/in-the-magazine-7.jpg);
}

.in-the-magazine-img-8 {
  background-image: url(../assets/in-the-magazine-8.jpg);
  background-position: center 250%;
}

.cursor-text {
  cursor: text !important;
}

.hover-underline-red:hover {
  color: black;
  text-decoration: underline red;
}

main {
  display: grid;
  grid-gap: 0 15px;
  grid-template-areas:
    "top-story"
    "featured-stories"
    "debate"
    "opinion"
    "si1"
    "more-stories"
    "latest-news"
    "my-turn"
    "culture-travel"
    "si2";
}

.top-story {
  grid-area: top-story;
}

.feature-stories {
  grid-area: featured-stories;
}

.the-debate {
  grid-area: debate;
}

.opinion {
  grid-area: opinion;
}

.sponsored-insights-rankings {
  grid-area: si1;
}

.sponsored-insights-rankings-2 {
  grid-area: si2;
}

.more-stories {
  grid-area: more-stories;
}

.latest-news {
  grid-area: latest-news;
}

.my-turn {
  grid-area: my-turn;
}

.culture-travel {
  grid-area: culture-travel;
}

.us-section-img {
  width: 110px;
  height: 110px;
}

.two-editions {
  width: 200px;
  height: 220px;
  margin: 0 auto;
}

.subscribe-img {
  height: 200px;
  background-position: 50%;
  background-image: url("../milestone-3/starting5-homepage.png");
  background-size: cover;
}

.color-black {
  color: black;
}

@media (min-width: 768px) {
  main {
    display: none;
    display: grid;
    grid-template-columns: 3fr 4fr;
    grid-template-rows: repeat(693, 10px);
    row-gap: 0;
  }

  .top-story {
    grid-column: 2 / 3;
    grid-row: 1 / auto;
  }

  .feature-stories {
    grid-column: 1 / 2;
    grid-row: 2 / auto;
  }

  .my-turn {
    grid-column: 2 / 3;
    grid-row: 45 / auto;
  }

  .culture-travel {
    grid-column: 2 / 3;
    grid-row: 67 / auto;
  }

  .more-stories {
    grid-column: 2 / 3;
    grid-row: 86 / auto;
  }

  .latest-news {
    grid-column: 2 / 3;
    grid-row: 312 / auto;
  }

  .sponsored-insights-rankings {
    grid-column: 1 / 2;
    grid-row: 179 / auto;
  }

  .the-debate {
    grid-column: 1 / 3;
    grid-row: 485 / auto;
  }

  .opinion {
    grid-column: 1 / 3;
    grid-row: 515 / auto;
  }

  .sponsored-insights-rankings-2 {
    grid-column: 1 / 3;
    grid-row: 586 / auto;
    padding: 0 20%;
  }

  .us-section-img {
    width: 95px;
    height: 95px;
  }

  .subscribe-img {
    width: 50%;
  }
}

@media (max-width: 768px) {
  .cool-heading {
    font-size: 1rem;
  }
}

@media (min-width: 992px) {
  .nw-header-icon {
    transform: scale(3);
  }

  main {
    grid-template-columns: 3fr 4fr 3fr;
    grid-template-rows: repeat(490, 10px);
    row-gap: 0;
  }

  .top-story {
    grid-column: 2 / 3;
    grid-row: 1 / auto;
  }

  .feature-stories {
    grid-column: 1 / 2;
    grid-row: 2 / auto;
  }

  .my-turn {
    grid-column: 2 / 3;
    grid-row: 45 / auto;
  }

  .culture-travel {
    grid-column: 2 / 3;
    grid-row: 67 / auto;
  }

  .more-stories {
    grid-column: 2 / 3;
    grid-row: 86 / auto;
  }

  .latest-news {
    grid-column: 2 / 3;
    grid-row: 312 / auto;
  }

  .sponsored-insights-rankings {
    grid-column: 1 / 2;
    grid-row: 179 / auto;
  }

  .the-debate {
    grid-column: 3 / 4;
    grid-row: 1 / auto;
  }

  .opinion {
    grid-column: 3 / 4;
    grid-row: 33 / auto;
  }

  .sponsored-insights-rankings-2 {
    grid-column: 3 / 4;
    grid-row: 114 / auto;
    padding: 0;
  }

  .subscribe-img {
    height: 500px;
  }
}
