@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');

$nw-red: #f72210;
$nw-yellow: #ffe400;

.primary-text {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1rem;
}

.secondary-text {
  font-family: Arial, Helvetica, sans-serif;
}

.bg-red {
  background-color: $nw-red;
}

.bg-yellow {
  background-color: $nw-yellow;
}

.hover-white:hover {
  color: white !important;
}

a {
  text-decoration: none;
  color: black;
}

.header-icon {
  color: #fdc8c3;
  font-size: 0.9rem;
}

.categories li {
  border-right: 1px solid #d9d9d9;
  border-left: 1px solid #ffffff;
  padding: 0 1%;
  &:last-child {
    border-right: none;
    color: #757575 !important;
  }

  &:last-child a {
    color: #757575 !important;
  }

  &:nth-last-child(2) {
    border-right: none;
  }
}

.trending {
  li {
    text-transform: uppercase;
    font-size: 18px !important;
    a {
      color: #807f84;
    }
  }
}

.space {
  height: 150vh;
}

.social-media {
  li {
    a {
      font-size: 26px;
      color: rgb(95, 95, 95) !important;
      i {
        padding: 4px;
      }
    }
  }
}

.copyright {
  font-size: 12px;
}

.footer-links {
  li {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    a {
      color: #666666;
    }
  }
}

@media (min-width: 992px) {
  .nw-header-icon {
    transform: scale(3);
  }
}
